* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 39px;
}

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 15px;


}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;

}


.zag {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}

.pod {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h1 {
    width: 510px;
}

.h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;

}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;

}

.pol {
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.but {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.forma {
    display: flex;
    align-items: flex-start;
}

.top {
    height: 768px;
    margin-bottom: 10px;
    background: linear-gradient(0deg,
        #EBF3FB 8.84%,
        rgba(152, 195, 232, 0) 31.12%);

}

.top_content {
    overflow: hidden;
    box-sizing: border-box;
    max-width: 1100px;
    height: 768px;
    background-image: url(image/ilustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.new-auto {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-top: 115px;
    width: 504px;
    line-height: 74px;
    letter-spacing: 0.04em;
    font-weight: 300;
}

.top_button {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;

}

.center_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
}

.cart {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;
}

.link_cart{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.text_cart{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 28px ;
}

.img_cart {
    align-self: center;
    margin-bottom: 48.81px;
}

.make-your-business {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 32px;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-right: 32px;
}

.bring-tech {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 32px;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-right: 32px;

}

.build-your {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 32px;
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

}

.our-finished {

    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.par_our{

    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-bottom: 32px;
}

.text_our{

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    width: 75%;
    margin: 32px auto 64px;
}

.our_image{
    position: relative;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.our_image_bottom{
    position: relative;
    margin-top: 32px;

}

.our_image_bottom_right{
    position: relative;
    margin: 32px 0px 0px 32px;

}

.our_text{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.our_text_left{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;

}

.our_text_right{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left:32px;
}

.intersted h3 {
    width: 340px;
}

.intersted {
    margin-top: 91px;
    margin-left: 113px;
    max-width: 495px;
}

.footer_top {
    position: relative;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 5px;
}

.par_int{
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;  
}

.text_int{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
    margin-bottom: 96px;
}
.lets_but{
    position: absolute;
    top: 165px;
    right: 114px;
    background: #5A98D0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
}

.footer {
    height: 657px;
    margin-top: 112px;
    background: #316099;
}

hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.contakt {
    margin-left: 150px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.contakt li {
    float: left;
    margin-top: 64px;
    padding-right: 155px;
    padding-left: 15px;
}


.contakt a {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;

}


.prav {
    clear: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin: 176px 0px 64px 127px;
}

/*Страница контакты*/

.header {
    margin-top: 5px;
}

.zagolovok {
    display: flex;
    flex-flow: wrap;
}

.form_cont {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

}

.cont {
    display: flex;
    flex-flow: wrap;
    width: 350px;

}

.forma {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}

.map {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}