* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto; 
}

.menu ul {
    list-style-type: none;
} 


.menu {
    display: flex;
    justify-content: flex-end;
    border: 2px solid green;
}

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}

.zag {
    font-size: 64px;
    color: #1f3f68;
}

.pod {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h1 {
    width: 510px;
}

p {
    width: 425px;
}

.h3 {
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}

.pol {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.but {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 117, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.forma {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.new-auto {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
    padding: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 500px;

}

.center_cont{
    border: 2px solid green;
}

.cart {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid green;
    padding: 5px;
}

.make-your-business {
    box-sizing: border-box;
    order: 1;
    padding: 5px;
    margin: 5px;
    width: 359px;
    border: 3px solid violet;

}

.bring-tech {
    box-sizing: border-box;
    order: 2;
    padding: 5px;
    margin: 5px;
    width: 359px;
    border: 3px solid violet;

}

.build-your {
    box-sizing: border-box;
    order: 3;
    padding: 5px;
    margin: 5px;
    width: 359px;
    border: 3px solid violet;

}

.our-finished {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    border: 5px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.intersted>h3 {
    width: 340px;
}

.intersted {
    border: 2px solid violet;
    max-width: 495px;
    margin: 5px;
}

.footer_top {
    display: flex;
    flex-flow: wrap;
    border: 5px solid burlywood;
    margin-bottom: 5px;
}

.footer {
    border: 5px solid red;
    padding: 7px;
    padding: 7px;
}

.contakt {
    border: 2px solid green;
    margin-top: 5px;
}

.contakt ul{
    list-style: none;
}

.prav {
    border: 2px solid gray;
}